#head{
    position: fixed;
    top: 0px;
    z-index: 3;
}

.navbar {
    display: block;
    width: 97vw;
    background-color: rgb(224, 145, 145);
    border-radius: 30px;
    height: 50px;
    /* position: relative; */
    bottom:140vh;
    font-size: 20px;
    

}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

}
.navbar li a{
    font-family: 'Balsamiq Sans', cursive;

    text-decoration: none;
    color: white;
    margin-left: 60px;
}
.navbar li{
    margin-top: 14px;
    text-shadow: 10px;

}
.navbar li a:hover{
    color:black;
    text-decoration:underline ;
}

#search{
    
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 250px;
    border-radius: 10px;
    width: 20vw;
    bottom: 40px;

}



#logo{
    color:purple ;
    /* position: relative;
    bottom: 146vh;
    left: 30px; */
    width:60px;
    height:40px;
}
#backimage{
    position:relative;
    bottom:40px;
    overflow:hidden;
    z-index: -1;

}
#lorem{
    z-index: 2;
    color:black;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: black;
}
/* .home{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background:url(../images/home-img.jpeg) no-repeat;
        background-size: cover;
        background-position: center; */
/* } */
.bhumi{
    position: relative;
    bottom:110vh;
    align-items: center;
    color:white;
    left:40px;
    font-size: 50px;

}
#lorem{
    position: relative;
    bottom:105vh ;
    color: white;
    left: 40px;
    font-size: 20px;
}
.btn{
        position:relative;
        bottom:100vh;
        display:block;
        padding:.9rem 3rem;
        font-size: 1.7rem;
        color:yellowgreen;
        /* background: var(--main-color); */
        cursor: pointer;
        border: blue;
        left: 40px;
    }

.btn:hover{
    text-decoration: underline;
    letter-spacing: .2rem;
}
#about{
    position: relative;
    left:600px;
    bottom: 300px;
    font-size: 60px;
    color:white;
}

.image{
    position: relative;
    bottom: 50vh;
    left:45px;
    
}
#adi{
    position: relative;
    left:700px ;
    bottom:110vh ;
    font-size: 30px;
    color: wheat;

}
.paa{
    color:white;
    position: relative;
    left: 700px;
    bottom: 109vh;
    font-size:20px ;

}
.btnn{
    position:relative;
        bottom:108vh;
        display:block;
        padding:.9rem 3rem;
        font-size: 1.7rem;
        color:rgb(148, 164, 116);
        /* background: var(--main-color); */
        cursor: pointer;
        border: rgb(109, 109, 127);
        left: 700px;

}
.btnn:hover{
    text-decoration: underline;
    letter-spacing: .2rem;

}
.card{
    color: white;
    margin: 23px 12px;
    padding:23 12px;
    border:2px solid rgb(196, 163, 163);
    position: relative;
    width: 900px;
    height: 400px;
    bottom: 105vh;
    background-image: url(https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGd5bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60.jpg);
}
.contain{
    display: flex;
    /* bottom: 105vh; */

}
#card-1{
    position: relative;
    text-align: center;
}
#dow{
    position: relative;
    top:300px;
}
#up{
    position: relative;
    top:350px;

}
#card-2{
    position: relative;
    text-align: center;

}
.price{
    color: white;
    position: relative;
    top:375px;
    font-size: 20px;
    /* text-decoration: line-through; */

}
#line{
    text-decoration: line-through;
}
.us{
    color: white;
    position: relative;
    bottom:100vh ;
    left: 600px;
    font-size: 60px;


}
.map{
    
    /* flex:1 1 45rem; */
    position: relative;
    bottom: 95vh;
    /* left:30px; */
    width: 50%;
    height:500px;
/* object-fit: cover; */
}